@charset "utf-8";
/* CSS Document */

body {
  font-family: 'Metropolis', sans-serif;

}

h1, h2, h3, h4, h5, .nav-link, .btn-pompadour {
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-opensans {
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-metropolis {
  font-family: 'Metropolis', sans-serif;
}

.nav-pills a {
  background: white;
  color: black !important
}

.nav-pills .active {
  background: black !important;
  color: white !important
}

.nav-link, .btn-pompadour {
  font-weight: bold;
}
#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top.show {
  opacity: 1;
}

.bg-black {
  background: #000;
}

.text-pompadour {
  color: #E5A417 !important
}

.text-black {
  color: #000 !important
}

.bg-pompadour {
  background: #E5A417 !important
}

.btn-pompadour {
  border: solid #E5A417 2px;
  color: white;
  border-radius: 10px;
  transition: all .25s;
}

.btn-pompadour:hover {
  color: black;
  background: #E5A417;
}

.font-weight-black {
  font-weight: 900;
}

.badge-pompadour {
  color: #fff;
  background-color: #E5A417 !important;
}

.shadow-hover:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}